.market3 {
    margin-top: 73px;
    @media(max-width:640px){
        margin-top: 60px;
    }

    .title {
        background-color: rgb(184, 210, 255, 0.1);
        width: 100%;
        min-height: 180px;
        font-size: 40px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .info {
        padding: 10px;
        margin: 70px auto;
        max-width: 720px;
        color: rgb(85, 85, 85, 0.8);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: justify;
    }

    .img {


        width: 100%;
        height: 588px;
        display: flex;
        justify-content: center;
        margin-bottom: 188px;
        img {
            height: 100%;
            max-width: 1200px;
            object-fit: cover;
            
        }
    }
}