.page_home {
    font-family: Barlow;

    .nav_home {
        display: flex;
        align-items: end;
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        flex-direction: column;

        .tag {
            position: absolute;
            background-image: url("../../static/img/nav_tag.png");
            width: 114px;
            height: 54px;
            left: 29px;
            top: 9px;
        }

        .menu {
            font-size: 14px;
            width: 30%;

            .ant-menu-overflow {
                justify-content: flex-end;
                padding-right: 104px;
            }

            .ant-menu-horizontal {
                line-height: 72px;
                text-align: center;

                &>.ant-menu-item-selected {
                    font-weight: 700;
                    color: rgb(0, 61, 166);
                }
            }



            

            

        }

        .seach_icon {
            position: absolute;
            background-image: url("../../static/svg/seach.svg");
            background-repeat: no-repeat;
            width: 22.04px;
            height: 22px;
            right: 37.96px;
            top: 25px;
        }
        .nav_bottom_page {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            background-color: #ffffff;
        }

    }

    .content {}
}