.com_card_culture {
    width: 100%;
    position: relative;
    margin: 0;
    .img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
        // background-image: url('../../static/img/item1.png');
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;            
            @media screen and (max-width: 1360px) {
             max-height: 340px;
                }
        }
    }
    &:hover .bg_hover{
        display: block;
    }

    .infomation {
        font-size: 24px;
        position: absolute;
        bottom:0;
        z-index: 9;
        color: #fff;
        padding: 24px;
        .info{
            margin-top: 21px;
        font-size: 14px;
        opacity: 0.8;

        }
    }
    .bg_hover{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(192.53deg, rgba(0,61,166,0.00) 37.427%,rgba(0,61,166,1.00) 99.522%)
    }
    
}