.products2 {
    

    
    .info {

        min-height: 314px;
        width: 100%;
        background-image: linear-gradient(270.00deg, rgba(160, 182, 222, 0.00), rgba(160, 182, 222, 0.2) 49.792%, rgba(160, 182, 222, 0.00) 100%);
        border-bottom: 1px solid;
        border-image: linear-gradient(90deg, rgba(160, 182, 222, 0.00), rgba(160, 182, 222, 1.00) 49.792%, rgba(160, 182, 222, 0.00) 100%) 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 40px;
        box-sizing: border-box;

        .title {
            max-width: 720px;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 21px;
        }

        .infomation {
            max-width: 720px;
        }

        .select {
            position: absolute;
            bottom: 0;
            width: 40%;

            .ant-menu-overflow {
                justify-content: center;
                background-color: transparent;
            }

            .ant-menu-horizontal {
                text-align: center;
                font-weight: 500;
                color: rgb(142, 142, 142);

                &>.ant-menu-item-selected {
                    font-weight: 700;
                    color: rgb(0, 61, 166);
                }
            }
        }
    }

    .solutions {
        margin-top: 52px;
        height: 1000px;
        display: flex;
        width: 100%;

        .items {
            margin-left: 5%;
            .item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .img {
                    background-image: url('../../static/img/item2.png');
                    background-repeat: no-repeat;
                    width: 366px;
                    height: 223px;
                    background-size: cover;
                    position: relative;
                    margin-right: 40px;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 366px;
                        height: 223px;
                        z-index: 0;
                        top: 0;
                        left: 0;
                        background: rgb(184, 210, 255, 0.1)
                    }
                }

                .info_item {
                    display: flex;
                    flex-direction: column;
                    span:nth-child(1) {
                        font-size: 20px;
                        margin-bottom: 17px;
                        font-weight: 600;
                    }
                    span:nth-child(2) {
                        margin-bottom: 27px;
                        color: rgb(142, 142, 142);
                        display: inline-block;
                        max-width: 350px;
                        font-size: 14px;
                    }
                    span:nth-child(3) {
                        font-size: 14px;
                        position: relative;
                        cursor: pointer;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            width: 100px;
                            height: 2px;
                            background-color: #000000;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 90px;
                            bottom: 5px;
                            width: 7px;
                            height: 7px;
                            border-right: 2px solid #000000;
                            border-bottom: 2px solid #000000;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }


        }

        .solution {
            height: 100%;
            border-right: 1px solid;
            border-image: linear-gradient(180deg, rgba(160, 182, 222, 0.5) 49.792%, rgba(160, 182, 222, 0.00) 100%) 1;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            .title,
            .item1,
            .item2 {
                margin-bottom: 24px;
                display: inline-block;
                max-width: 360px;
            }

            .title {
                width: 360px;
                font-size: 32px;
                font-weight: 600;
            }

            .item1 {
                font-size: 16px;
                font-weight: 600;
            }

            .item2 {
                font-size: 14px;
                font-weight: 400;
                color: rgb(51, 51, 51, 0.8);
            }
        }
    }
}