.com_footer {
    border-top: 1px solid #eeeeee;
    padding-top: 30px;

    // @media screen and (max-width: 1000px) {
    //     .pc {
    //         display: none;
    //     }

    // }

    // .ph {
    //     .link {
    //         cursor: pointer;
    //         width: 81%;
    //         margin: 40px;
    //         padding-bottom: 20px;
    //         box-sizing: border-box;
    //         font-size: 16px;
    //         font-weight: 700;
    //         letter-spacing: 0px;
    //         line-height: 19.84px;
    //         color: rgba(56, 56, 56, 1);
    //         text-align: left;
    //         border-bottom: 1px solid #ccc;
    //     }
    // }

    .top {
        display: flex;
        justify-content: space-between;

        .content {
            width: 50%;

            .items {

                margin-top: 10px;
                margin-left: 50px;
                display: flex;
                flex-direction: column;

                .title {
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: 16px;
                }

                .item {
                    cursor: pointer;

                }

                span {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }

        .link {
            cursor: pointer;
            margin-top: 10px;

            width: 12%;
            padding-right: 5%;
        }
    }

    .bottom {
        padding: 40px;
        width: 100%;
        box-sizing: border-box;

        .item {
            display: inline-block;
            padding-top: 10px;
        }
    }

    .svg {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        display: block;
        width: 22px;
        height: 22px;
        background-size: contain;
    }
}