.com_footer {
    border-top: 1px solid #eeeeee;
    padding-top: 30px;

    .top {
        display: flex;
        justify-content: space-between;

        .content {
            width: 50%;

            .items {

                margin-top: 10px;
                margin-left: 50px;
                display: flex;
                flex-direction: column;

                .title {
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: 16px;
                }

                .item {
                    cursor: pointer;

                }

                span {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }

        .link {
            cursor: pointer;
            margin-top: 10px;

            width: 12%;
            padding-right: 5%;
        }
    }

    .bottom {
        padding: 40px;
        width: 100%;
        box-sizing: border-box;

        .item {
            display: inline-block;
            padding-top: 10px;
        }
    }
}