.markets2 {
    .content {
        padding: 90px 0;
        .caritem {
            cursor: pointer;
            margin: 10px auto;
            width: 443.33px;
            height: 320px;
        }
    }
}