.products {

    .ant-col,
    .ant-col-md-24 {
        overflow: hidden;

    }

    .card_item {
        margin: 0 auto;
        height: 560px;
         @media (max-width: 720px){
             height: 380px;
         }
    }
    
}