.about_quality {
    .card_item {
        margin: 40px;
        width: 684.36px;
        height: 400px;
    }
    .content{
         .quality_top{  
      display: flex;
      line-height: 1.2;  
      font-weight: bold;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      max-width: 900px;
      margin: 3rem auto;
       p1{
      font-size: 1.5rem;
        }
    }
       
        .img_top{
            width: 100%;
            max-width: 1200px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            img{
                height: 100%;
                width: 100%;
                max-width: 1200px;               
            }

        }
        .imgList{
            .img_box{
                width: 320px;
                height: 360px;
                background-color: rgb(196, 196, 196,0.1);
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 40px;
                img{
                    height: 203px;
                }
            }
        }
    }
}