body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
    word-break: keep-all;
    word-wrap: break-word; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-inline-start: 0px;
}
p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.morehover:hover{
  border-color:rgb(42, 130, 228) ;
  
}
.title,.span{   
    word-break: keep-all;
    word-wrap: break-word; 
    white-space: pre-wrap;
    text-align:justify; 
    text-justify:inter-ideograph;
}